/* Title Bar Gradient */
html #main-navbar .navbar-inner, html #main-navbar .btn-navbar {
    background-color:#862D5E;
		border-color:#C93212;
}

#main-navbar {
    border-bottom: 1px #e6e6e6 solid;
}

#main-navbar li > a,
#main-navbar .navbar-header > a,
#solutions-menu > a{
    color: #696969;
}

#main-navbar .navbar-nav > li.active > a,
#main-navbar .navbar-nav > li.dropdown.open > a.dropdown-toggle,
#main-navbar .navbar-right .dropdown.open .dropdown-toggle {
		background-color: #C93212;
}

#user-task .badge {
    background-color: #C93212;
}

#main-navbar .open .navbar-brand {
		background-color:#862D5E;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #862D5E;
}

.section-header {
    color: #f15a22;
}

.price-summary {
    border-top: solid 4px #862D5E;
}

.tf-divider-vertical {
    border-right: 1px solid #e8ecf4;

}
